Marquee{
    font-size: 35px;
}

a{
    color: aquamarine;
}
      .blink {
          animation: blinker 1.5s linear infinite;
          color: red;
          font-family: sans-serif;
      }
      @keyframes blinker {
          50% {
              opacity: 0;
          }
      }
div{
    display: inline;
}
hr{
    color: rgb(161, 58, 58);
}
